NAME="Astral Planetarium"
TIMEZONE=
LOCALE=en-US
CURRENCY=USD
SALE_TAX_RATE=8.25
CONVENIENCE_FEE=350
KEY=

###> SQLite ###
# DB_DRIVER=sqlite
# DB_DATABASE=

###> Postgres ###
# DB_DRIVER=postgres
# DB_DATABASE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=MyStrongPassword123!
# DB_SSL=false

###> SQL Server ###
# DB_DRIVER=mssql
# DB_DATABASE=master
# DB_SERVER=localhost
# DB_PORT=1433
# DB_USER=sa
# DB_PASSWORD=MyStrongPassword123!
# DB_TRUST_SERVER_CERTIFICATE=true

###> MySQL ###
# DB_DRIVER=mysql
# DB_DATABASE=sys
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=MyStrongPassword123!

###> MariaDB ###
# DB_DRIVER="mariadb"
# DB_DATABASE=sys
# DB_HOST=localhost
# DB_PORT=3307
# DB_USER=root
# DB_PASSWORD=MyStrongPassword123!

STRIPE_SECRET_KEY=
STRIPE_TAX_RATE_ID=