{% extends "base.html.twig" %}

{% block body %}
<p>Dear {{ name }},<p>
<p>Welcome to <strong>{{ app.request.server.get('NAME') }}</strong>!</p>
<p>Please click on the button below to activate your account. The link expires in 15 minutes.</p>
{{ include('components/button.html.twig') }}
{% endblock %}