{% extends "base.html.twig" %}

{% block body %}
<p>Dear {{ name }},<p>
<p>Please click on the button below to set a new password for your account. The link expires in 15 minutes.</p>
{{ include('components/button.html.twig') }}
<p>If you didn't request to reset to recover your account, we recommend login in and resetting your password.</p>
{% endblock %}