<h5>Dear {{ name }},<h5>
<p>Please click on the button below to set a new password for your account. The link expires in 15 minutes.</p>
<a href="http://localhost:8000/reset?token={{ token }}&hash={{ hash }}">Reset Password</a>
<p>If you didn't request to reset to recover your account, we recommend login in and resetting your password.</p>
<p>Regards,<br />Astral Planetarium</p>